footer {
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;   
    box-shadow: 0 -3px 3px #ccc;
}
.creator {
    padding: 10px 15px;
}

.creator a img{
    width: 40px;
    height: 40px;
}

.direct_contact {
    line-height: 80px;
}