@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: 0px 3px 3px #ccc;
    margin: auto;
}

.header_one, .header_two, .header_three {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 75px;
}
/* First header */

.header_one a img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

/* Second header */

.header_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_two a {
    padding: 10px 15px;
    text-decoration: none;
    //font-size: 24px;
    font-family: 'Dancing Script', cursive;
    color: black;
}
.header_two a:hover {
    color: #ccc;
    transition: 0.6s;
}

/* Third header */ 
.header_three {
    margin-right: 100px;
}
.header_three ul {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.header_three ul li {
    list-style-type: none;
    margin-right: 12px;
    position: relative;
    top: 30%;
}

.header_three ul li a {
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.header_three ul li a:hover {
    color: #ccc;
    transition: 0.6s;
}

@media screen and (max-width: 425px) {
    header {
        justify-content: center;
    }
    .header_two {
        display: none;
    }
}